{% extends 'base.html' %}

{% block title %}
졸업요건 계산기
{% endblock title %}

{% block content %}
<form action="cal/calculate" method="post">{% csrf_token %}
    <div class="col-md-3">


        <div class="row" style="background-color: powderblue; padding-left:20px;">
            <h4><strong>전공 - 필수</strong></h4>
        </div>
        <div class="row" style="background-color: #EAEAEA;padding: 20px;">
            <h5><strong>전공핵심 (기본이수과목)</strong></h5>
            <div style="background-color:white;">
                <ul>
                    <li><input type="checkbox" name="major_req[]" value="기본프로그래밍"> 기본프로그래밍 </li>
                    <li><input type="checkbox" name="major_req[]" value="컴퓨터교육개론"> 컴퓨터교육개론 </li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="major_req[]" value="자료구조"> 자료구조 </li>
                    <li><input type="checkbox" name="major_req[]" value="데이타베이스"> 데이타베이스 </li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="major_req[]" value="컴퓨터구조"> 컴퓨터구조 </li>
                    <li><input type="checkbox" name="major_req[]" value="운영체제"> 운영체제 </li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="major_req[]" value="컴퓨터네트워크"> 컴퓨터네트워크 </li>
                    <li><input type="checkbox" name="major_req[]" value="프로그래밍언어론"> 프로그래밍언어론
                    </li>
                </ul>
            </div>
            <br>
            <h5><strong>전공일반 (기본이수과목)</strong></h5>
            <div style="background-color:white;">
                <ul>
                    <li style="width : 100px"><input type="checkbox" name="major_1[]" value="알고리즘"> 알고리즘 </li>
                    <li style="width : 100px"><input type="checkbox" name="major_1[]" value="인공지능"> 인공지능 </li>
                    <li><input type="checkbox" name="major_1[]" value="소프트웨어공학"> 소프트웨어공학 </li>
                </ul>
            </div>
            <br>
            <h5><strong>교과교육영역</strong></h5>
            <div style="background-color:white;">
                <ul>
                    <li><input type="checkbox" name="major_edu[]" value="컴퓨터교과교육론"> 컴퓨터교과교육론 </li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="major_edu[]" value="컴퓨터교재연구및지도법"> 컴퓨터교재연구및지도법 </li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="major_edu[]" value="상업,정보교과논리논술"> 상업,정보교과논리논술 </li>
                </ul>
            </div>
            <br>
        </div>
    </div>
    <div class="col-md-3">


        <div class="row" style="background-color: powderblue; padding-left:20px;">
            <h4><strong>전공 - 선택</strong></h4>
        </div>
        <div class="row" style="background-color: #EAEAEA;padding: 20px;">
            <h5><strong>전공일반</strong></h5>
            <div style="background-color:white;">
                <ul>
                    <li><input type="checkbox" name="major_2[]" value="3"> 인터넷윤리 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> Soical Learning과 인터넷 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 리눅스시스템 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 객체지향프로그래밍 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 교육용멀티미디어 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 논리회로 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 데이터통신기술 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 피지컬컴퓨팅 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 컴퓨터교육과정론 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 컴퓨터수업설계및연습 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> e러닝의이해 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 가상및증강현실처리 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 객체지향소프트웨어개발 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 교육용소프트웨어개발 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 모바일프로그래밍입문 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 수업과소프트웨어활용 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 컴파일러 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 컴퓨터교과과정개발 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 컴퓨터그래픽스 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 컴퓨터비전프로그래밍 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 클라우드컴퓨팅개론 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 네트워크운영관리 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 정보시스템 </li>
                    <li><input type="checkbox" name="major_2[]" value="3"> 컴퓨터교육세미나 </li>
                    <div style="height: 10px;"></div>
                    <li><input type="checkbox" name="major_2[]" value="3"> 컴퓨터보안 </li>
                    <li><input type="checkbox" name="major_2[]" value="1"> 사도의함양 </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" style="background-color: powderblue; padding-left:20px;">
            <h4><strong>교직</strong></h4>
        </div>
        <div class="row" style="background-color: #EAEAEA;padding: 20px;">
            <h5><strong>6개이수</strong></h5>
            <div style="background-color:white;">
                <ul>
                    <li><input type="checkbox" name="teach[]" value="교육학개론"> 교육학개론</li>
                    <li><input type="checkbox" name="teach[]" value="교육의역사.철학적이해"> 교육의역사.철학적이해</li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="teach[]" value="교육의사회학적이해"> 교육의사회학적이해</li>
                    <li><input type="checkbox" name="teach[]" value="교육의심리학적이해"> 교육의심리학적이해</li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="teach[]" value="교육과정"> 교육과정</li>
                    <li><input type="checkbox" name="teach[]" value="교육평가"> 교육평가</li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="teach[]" value="교육방법및교육공학"> 교육방법및교육공학</li>
                    <li><input type="checkbox" name="teach[]" value="교육행정및교육경영"> 교육행정및교육경영</li>
                    <div style="height: 30px;"></div>
                </ul>
            </div>
            <br>
            <h5><strong>필수이수</strong></h5>
            <div style="background-color:white;">
                
                <ul>
                    <li><input type="checkbox" name="teach[]" value="특수교육학개론"> 특수교육학개론</li>
                    <li><input type="checkbox" name="teach[]" value="교직실무"> 교직실무</li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="teach[]" value="학교폭력예방및학생의이해"> 학교폭력예방및학생의이해</li>
                    <li><input type="checkbox" name="teach[]" value="교육실습"> 교육실습</li>
                    <div style="height: 30px;"></div>
                    <li><input type="checkbox" name="teach[]" value="교육봉사활동"> 교육봉사활동</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row" style="background-color: powderblue; padding-left:20px;">
            <h4><strong>교양</strong></h4>
        </div>
        <p>수강한 교양과목의 총학점을 입력하세요!</p>
        <input type="number" name="general" value="교양">
    </div>

    
    <input type="submit" value="Submit!!" style="width: 200px; height: 50px;">

</form>
{% endblock content %}