{% extends 'base.html' %}

{% block title %}
    ComEdu Board - Create
{% endblock title %}

{% block content %}

    <form action='{% url "board:create"%}'>

        <div class="new_title">
            <h4>제목</h4>
            <input type="text" name='title' placeholder='제목'>
        </div>
        <div class="new_genre">
            <h4>언어 타입</h4>
            <input type="radio" name='genre' value="C"><font>C</font>
            <input type="radio" name='genre' value="C++"><font>C++</font>
            <input type="radio" name='genre' value="Python"><font>Python</font>
            <input type="radio" name='genre' value="Javascript"><font>Javascript</font>
            <input type="radio" name='genre' value="R"><font>R</font>
            <input type="radio" name='genre' value="Others"><font>Others</font>
            <input type="radio" name='genre' value="Text"><font>Text</font>
        </div>

        <div class="new_text">
            <h4>본문</h4>
            <textarea name='text' placeholder='내용'></textarea>
        </div>

        <input type="submit" value="업로드하기">
    </form>

{% endblock content %}