<html>

<head>
    <meta charset="UTF-8">
    <title>ComEdu Board</title>
    <style>
    table{
        width:80%;   
    }
    td{
        border:2px solid black;
        height:50px;
        font-size:25px;
    }
    </style>
</head>

<body>
    <h2>Com Edu Board!<h2>
    <table>
    <tr>
        <td>title</td>
        <td>date</td>
    </tr>
    {% for post in posts.all %}
    <tr>
        <td onClick = "location.href='{% url 'detail' post.id %}'">{{ post.title }}</td>
        <td>{{ post.onlyMonthDay }}</td>
    </tr>
    {% endfor %}
    </table>
</body>

</html>