<html>

<head>
    <meta charset="UTF-8">
    <title>Board - {{post.title}}</title>
</head>

<body>
    <div>
        <h1>{{post.title}}</h1>
    <div>
    <div>{{post.pub_date}}</div>
    <div>{{post.genre}}</div>
    <div>{{post.text}}</div>
    <div class="delete">
        <button onclick="location.href='{% url 'delete' post.id %}'">삭제하기</button>
    </div>
    <div class="edit">
        <button onclick="location.href='{% url 'edit' post.id %}'">수정하기</button>
    </div>

    <button onclick="location.href='{% url 'board' %}'">홈으로</button>
</body>

</html>